body {
    color: #503018; /*Main Body Text Colour*/
    background: #efd2bd;
    background-blend-mode: lighten;
    background-image: "Vintage_Paper.jpg";
}

img {
    display: block;
    margin: auto;
    width: 25%;
}

a {
    color: #b74848;
    text-decoration: none; /*Attempts to remove underline from hyperlinks*/
}

h1 {
    font-style: normal; /**/
    text-transform: uppercase; /**/
    font-size: medium; /**/
}

h2,
h3 {
    color: #1b801b; /* Header Colours*/
    text-align: center; /* Aligns all headers to middle */
    font-weight: bold;
}

h3 {
    text-align: center; /* Aligns all headers to middle */
}

p {
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: bold;
}

tr {
    text-align: center;
}

.Weight {
    color: #c3631c;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Hunger {
    color: rgb(255, 249, 73);
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Injury {
    color: #e24141;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Poison {
    color: #862ea0;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Cold {
    color: #56b0ff;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Heat {
    color: #e55e16;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Thorns {
    color: #0bac76;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Drowsy {
    color: hotpink;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Curse {
    color: #484b4d;
    font-weight: 100;
    font-family: Rubik Dirt, monospace;
}

.Icon{
    display: block;
    margin: auto;
    width: 4%
    
}
